export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export AUTH0_DOMAIN=
export AUTH0_CLIENT_ID=
export AUTH0_CLIENT_SECRET=

export VERCEL_TOKEN=

export GODADDY_API_KEY=
export GODADDY_API_SECRET=
