.splash {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 6000; /* zIxVenus */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 500ms ease;
}

.splash_dismissed {
    opacity: 0;
}

.splash__central {
}

.splash__logo {
    text-align: center;
}

.splash__progress {
    margin-top: 1rem;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 0.1rem;
    position: relative;
    width: 7rem;
}

.splash__progress-indicator {
    width: 0;
    background-color: lightgray;
    height: 0.2rem;
    transition: width 200ms ease;
}
